.colors-and-types-wrapper
  width: 1440px
  margin: 0 auto

.content
  font-family: 'Montserrat', sans-serif
  width: 1132px
  margin: 55px 5px 0 142px

.colors-and-types
  display: flex
  flex-wrap: wrap
  justify-content: space-between
        
.logo 
  margin: 8px 0 0 30px
    
.colors-and-types__types
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: space-between
  width: 436px
  height: 321px

.column-one__field__date
  margin: 20px 0 40px 0
