mixin inputs({modificator, variant, type, placeholder})
    div.field
        div.desc
            p.variant= variant
            p.type= type
        div.inputs
            input.input(placeholder=placeholder)