mixin advantages(args)
    each el in args
        div.advantages__content
            div.advantages__content-icon= el.icon
            div.advantages__desc
                div.advantages__content-desc-name= el.name
                div.advantages__content-desc-comm= el.comm
        
        

        