mixin button(props)
    - var className = 'button__' + props.size + props.theme
        button(class= 'button ' + className + (props.hover ? ' ' + className + props.hover : ''))
            span(class= 'button-text_' + props.size + props.font + (props.theme =='_unbordered' ? props.theme : ''))= props.placeholder
            if (props.isArrow)
                span(class= 'button-arrow' + props.font)= 'arrow_forward'