.button
    border: 0
    border-radius: 22px

.button__small_painted
    display: flex
    justify-content: center
    align-items: center
    width: 99px
    height: 44px
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    cursor: pointer

.button__small_bordered
    width: 99px
    height: 44px
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5)
    border: solid 3px transparent
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    background-origin: border-box
    background-clip: content-box, border-box
    box-shadow: 2px 1000px 1px #fff inset

.button__large_painted
    display: flex
    justify-content: center
    align-items: center
    width: 320px
    height: 44px
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    cursor: pointer

.button__small_painted-disabled,
.button__small_bordered-disabled
    opacity: .5

.button__small_unbordered
    display: flex
    justify-content: center
    align-items: center
    width: 80px
    height: 15px
    background-color: #FFFFFF
    cursor: pointer

.button-text_small_white-font
    font-style: normal
    font-weight: 700
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: #FFFFFF
    cursor: pointer

.button-text_small_color-font,
.button-text_small_color-font_unbordered
    font-style: normal
    font-weight: 700
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: #BC9CFF
    cursor: pointer

.button-text_small_grey-font_unbordered
    font-style: normal
    font-weight: 700
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: rgba(31, 32, 65, 0.5)
    cursor: pointer

.button__small_for_nav_bordered
    width: 87px
    height: 34px
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5)
    border: solid 3px transparent
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    background-origin: border-box
    background-clip: content-box, border-box
    box-shadow: 2px 1000px 1px #fff inset


.button__large_for_nav_painted
    display: flex
    justify-content: center
    align-items: center
    width: 196px
    height: 34px
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    cursor: pointer

.button-text_large_for_nav_white-font
    font-style: normal
    font-weight: 700
    font-size: 13px
    line-height: 15px
    text-transform: uppercase
    color: #FFFFFF
    cursor: pointer

.button-text_small_for_nav_color-font
    font-style: normal
    font-weight: 700
    font-size: 13px
    line-height: 15px
    text-transform: uppercase
    color: #BC9CFF
    cursor: pointer

.button-text_large_white-font
    width: 100%
    font-style: normal
    font-weight: 700
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: #FFFFFF
    cursor: pointer
    padding-left: 25px

.button-arrow_white-font
    font-family: 'Material Icons'
    font-style: normal
    font-weight: 400
    font-size: 24px
    line-height: 24px
    color: #FFFFFF
    padding-right: 7px