.form-elements-content
    width: 1158px
    margin: 38px auto
    height: 100%
    font-family: 'Montserrat', sans-serif

.fields-and-buttons
    display: flex
    justify-content: space-between

.fields
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 320px

.dropdown-large
    margin-bottom: 20px

.date-fields-short
    margin-top: 20px
    display: flex
    justify-content: space-between

.date-fields-large
    margin: 40px 0 40px 0

.toggles-and-buttons
    display: flex
    flex-direction: column
    justify-content: flex-start
    width: 260px

.range-slider-and-buttons
    display: flex
    flex-direction: column
    justify-content: flex-start
    width: 320px

.radio-button
    margin: 0

.toggle-button
    margin: 0 

.title_like-checkbox,
.title_like-radio,
.title_rate-button,
.title_like-button,
.title_like-toggle,
.title-buttons,
.title-pagination
    margin: 0 0 16px 0
    font-size: 12px
    font-weight: 700
    line-height: 15px
    letter-spacing: 0em
    text-align: left
    color: #1F2041
    text-transform: uppercase

.toggles-and-buttons__radio,
.toggles-and-buttons__toggles,
.toggles-and-buttons__rates,
.toggles-and-buttons__likes
    margin: 40px 0 0 0

.rate-button
    display: flex
    margin: 16px 0 0 0

.range-slider-and-buttons
    display: flex
    flex-direction: column
    
.buttons
    margin-top: 40px
    width: 218px
    height: 269px

.buttons__button
    display: flex
    flex-wrap: wrap

.buttons__large-button
    width: 320px
    margin-top: 30px

.pagination
    margin-top: 40px
    width: 241px
    height: 106px

.dropdowns
    margin-top: 100px
    display: flex
    justify-content: space-between

.reduced
    margin-bottom: 20px