extends ../../../src/baseTemplates/iuBaseTemplate.pug
include ../../components/headerUI/headerUI.pug
include ../../components/fields/fields.pug
include ../../components/date-fields/date-fields.pug
include ../../components/checkbox/checkbox.pug


block title  
    title Form elements

block variables
    -
        text_fields_props = [{modificator:'normal', title:'TEXT FIELD', comment:'DEFAULT', placeholder:'Email', checkmark:false},
                            {modificator:'hovered-focused', title:'TEXT FIELD', comment:'HOVER / FOCUS', placeholder:'This is pretty awesome', checkmark:false},
                            {modificator:'normal', title:'DROPDOWN', comment:'', placeholder:'Сколько гостей', checkmark:true},
                            {modificator:'normal', title:'MASKED TEXT FIELD', comment:'', placeholder:'ДД.ММ.ГГГГ', checkmark:false}]

        date_field_props = [{size: 'short', title:'DATE DROPDOWN', placeholder:'ДД.ММ.ГГГГ'},
                            {size: 'short', title:'DATE DROPDOWN', placeholder:'19.08.2019'},
                            {size: 'long', title:'FILTER DATE DROPDOWN', placeholder:'19.08.2019'}]

block content
    div.wrapper
        div.header
            +logo
        div.form-elements-content
            div.fields-and-buttons
                div.fields
                    +fields(text_fields_props)   
                    +date-fields(date_field_props)
                    +fields([{modificator:'subscription', title:'SUBSCRIPTION TEXT FIELD', comment:'', placeholder:'Email', checkmark:false}])
                div.toggles-and-buttons
                    form.checkboxes
                        +checkbox('CHECKBOX BUTTONS', [{label:'Можно курить', id:'smoke'},
                                                        {label:'Можно с питомцами', checked:'checked', id:'pet'},
                                                        {label:'Можно пригласить друзей (до 10 человек)', checked:'checked', id:'friends'}])
