.form-elements-wrapper
    width: 1440px
    margin: 0 auto
    margin-bottom: 250px

.form-elements-content
    width: 1158px
    margin: 38px auto
    height: 100%
    font-family: 'Montserrat', sans-serif

.fields-and-buttons
    display: flex
    justify-content: space-between

.fields
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 320px

.dropdown-large
    margin-bottom: 23px

.date-fields-short
    margin-top: 20px
    display: flex
    justify-content: space-between

.date-fields-large
    margin: 42px 0 40px 0

.toggles-and-buttons
    display: flex
    flex-direction: column
    justify-content: flex-start
    width: 260px
    margin-left: -6px

.range-slider-and-buttons
    display: flex
    flex-direction: column
    justify-content: flex-start
    width: 320px

.radio-button
    margin: 0

.toggle-button
    margin: 0 

.title_like-radio
    margin: 0 0 14px 0
    font-size: 12px
    font-weight: 700
    line-height: 15px
    letter-spacing: 0em
    text-align: left
    color: #1F2041
    text-transform: uppercase

.title_like-checkbox,
.title_rate-button,
.title_like-button,
.title-buttons,
.title-pagination
    margin: 0 0 18px 0
    font-size: 12px
    font-weight: 700
    line-height: 15px
    letter-spacing: 0em
    text-align: left
    color: #1F2041
    text-transform: uppercase

.title_like-toggle
    margin: 0 0 15px 0
    font-size: 12px
    font-weight: 700
    line-height: 15px
    letter-spacing: 0em
    text-align: left
    color: #1F2041
    text-transform: uppercase

.toggles-and-buttons__radio
    margin: 43px 0 0 0

.toggles-and-buttons__toggles
    margin: 42px 0 0 0

.toggles-and-buttons__rates
    margin: 38px 0 0 0

.toggles-and-buttons__likes
    margin: 40px 0 0 0

.rate-button
    display: flex
    margin: 16px 0 0 0

.range-slider-and-buttons
    display: flex
    flex-direction: column
    
.buttons
    margin-top: 40px
    width: 218px
    height: 269px

.button-container:nth-child(odd)
    margin-right: 19px
    margin-bottom: 30px

.buttons__button
    display: flex
    flex-wrap: wrap

.buttons__large-button
    width: 320px

.pagination
    margin-top: 40px
    width: 241px
    height: 106px

.dropdowns
    margin-top: 100px
    display: flex
    justify-content: space-between

.reduced
    margin-bottom: 20px

.dropdowns__dropdown-one
    margin-right: 0px

.dropdowns__dropdown-two
    margin-left: 180px
    margin-right: 72px

.checkboxes-block
    margin-top: 148px

.expandable-checkboxes
    display: flex
    justify-content: flex-start
    margin-top: 158px

.checkboxes__checkbox-one
    display: flex
    flex-direction: column
    width: 280px

.checkbox_expanded
    margin-top: 20px
