mixin date-fields(args)
    div(class= 'date-dropdown' + '_' + args.size)
        div.date-dropdown__desc
            p.desc__title= args.title
        div(class= 'date-dropdown__date-field_' + args.size )
            input(class= 'date-field_' + args.size placeholder= args.placeholder type=args.type)
            button.checkmark-box
                span.checkmark-box__checkmark &#xe5cf;