.date-dropdown__desc
    margin-bottom: 5px

.desc__title
    font-size: 12px
    font-weight: 700
    line-height: 15px
    color: #1F2041
    text-transform: uppercase

.date-dropdown__date-field_short
    position: relative
    width: 150px
    height: 44px

.date-dropdown__date-field_large
    position: relative
    width: 266px
    height: 44px

.date-field_large
    position: absolute
    width: 264px
    height: 42px
    border-style: solid
    border-width: 1px
    border-color: rgba(31, 32, 65, 0.25)
    border-radius: 4px
    display: flex
    justify-content: space-between
    align-items: center

.date-field_short
    position: absolute
    width: 148px
    height: 42px
    border-style: solid
    border-width: 1px
    border-color: rgba(31, 32, 65, 0.25)
    border-radius: 4px
    display: flex
    justify-content: space-between
    align-items: center

.placeholder
    margin: 0 0 0 15px

.placeholder-text
    font-family: Montserrat
    font-size: 14px
    font-weight: 400
    line-height: 18px
    color: rgba(31, 32, 65, 0.75)

.checkmark-box
    width: 44px
    height: 44px
    display: flex
    justify-content: center
    align-items: center

.checkmark-box__checkmark
    font-family: 'Material Icons'
    font-style: normal
    font-weight: 400
    font-size: 24px
    line-height: 24px
    color: rgba(31, 32, 65, 0.5)




