mixin logo()
    div.logo__container
        div.logo__type
            img(src='../../img/logo/Logo.svg' alt='logotype')
        div.logo__name
            img(src='../../img/logo/TOXIN.svg' alt='company name TOXIN')