@font-face 
    font-family: 'Montserrat'
    src: url(./montserrat/Montserrat-Bold.woff) format('woff')

@font-face 
    font-family: 'Montserrat'
    src: url(./montserrat/Montserrat-Bold.woff2) format('woff2')

@font-face
    font-family: 'Montserrat'
    src: url(./montserrat/Montserrat-Bold.ttf) format('ttf')

@font-face
    font-family: 'Montserrat'
    src: url(./montserrat/Montserrat-Bold.svg) format('svg')

@font-face
    font-family: 'Montserrat'
    src: url(./montserrat/Montserrat-Regular.woff) format('woff')

@font-face 
    font-family: 'Montserrat'
    src: url(./montserrat/Montserrat-Regular.woff2) format('woff2')

@font-face
    font-family: 'Montserrat'
    src: url(./montserrat/Montserrat-Regular.ttf) format('ttf')

@font-face 
    font-family: 'Montserrat'
    src: url(./montserrat/Montserrat-Regular.svg) format('svg')