extends ../../../src/baseTemplates/iuBaseTemplate.pug
include ../../components/headerUI/headerUI.pug
include ../../components/header/header.pug

block title  
    title Headers-and-footers

block variables

block content
    div.headers-and-footers-content
        div.header__logOff
            +header({logIn: ''}) 
        div.header__logIn
            +header({logIn: 'Юлий Цезарь'}) 

    script(type='text/javascript' src='../../libs/jquery/jquery-3.6.0.js')