extends ../../../src/baseTemplates/iuBaseTemplate.pug
include ../../components/headerUI/headerUI.pug

block title  
    title Headers-and-footers

block variables

block content
    div.headers-and-footers-content
        

    script(type='text/javascript' src='../../libs/jquery/jquery-3.6.0.js')