include ../../components/logo/logo.pug
include ../../components/nav/nav.pug
include ../../components/auth-reg/auth-reg.pug
include ../../components/userLogIn/userLogIn.pug

mixin header(args)
    div.header-container
        div.header__content
            div.header__content-logo
                +logo()
            div.header-filler
            div.header-content-nav
                +nav({orientation:'gorizontal', 
                items:{li_1: {name: 'О нас'}, li_2: {name: 'Услуги', expandable:{items:''}}, li_3: {name: 'Вакансии'}, li_4: {name: 'Новости'}, li_5: {name: 'Соглашения', expandable:{items:''}}}})
            div.header-content-auth-reg
                if(!args.logIn)
                    +auth-reg()
                if(args.logIn)
                    +userLogIn(args.logIn)