mixin bullet-list(args)
    div.bullet-list__head
        p.bullet-list__head-tittle= args.tittle
    div.bullet-list__content 
        ul.bullet-list__content-list 
            each el in args.content
                li.content-list
                    span.content-list-text= el

        