extends ../../../src/baseTemplates/iuBaseTemplate.pug
include ../../components/headerUI/headerUI.pug
include ../../components/search-room-card/search-room-card.pug
include ../../components/booking-room-card/booking-room-card.pug
//-include ../../components/calendar/calendar.pug

include ../../components/calendar-class/calendar-class.pug
include ../../components/registration-form/registration-form.pug
include ../../components/login-form/login-form.pug
include ../../components/suit-preview-card/suit-preview-card.pug

block title  
    title Cards

block variables
    
block content
    div.cards-content
        div.col-one
            div.search-room
                +search-room-card
            div.registration-form
                +registration-form
        div.col-two
            div.booking-room
                +booking-room-card
            div.login-form
                +login-form
        div.col-three
            div.calendar
                +calendar-class
            div.calendar
                +calendar-class
            div.suit-preview-cards
                div.suit-preview-card
                    +suit-preview-card({img: "../../img/siut-preview/suite-one.jpg", nav:'4', number: "888", price:" 9 990", rate: "5", feedbacks: "145"})
                div.suit-preview-card
                    +suit-preview-card({img: "../../img/siut-preview/suite-two.jpg", nav:'', number: "840", price: "9 990", rate: "4", feedbacks: "65"})

    script(type='text/javascript' src='../../libs/jquery/jquery-3.6.0.js')